<li class="nav-item">
    <a href="#" title="Cutom Item" class="nav-link" id="acustomitem" data-tree="#aextras">
        <i class="far fa-circle nav-icon"></i>
        <p>
            Cutom Item
        </p>
    </a>
</li>
