<ul class="navbar-nav">    
    @*<li class="nav-item d-none d-sm-inline-block">
        <a href="@Url.Content("~/Home/ClearCache")" class="nav-link" id="aclearcache">Clear website cache</a>
    </li>*@
</ul>