@{
    ViewBag.Title = "page not found";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">404 - page not found</h1>
                </div>                
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">PAGE NOT FOUND</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Sorry, the page that you are trying to access could not be found.</p>
                            <a href="/" class="btn btn-primary">Back to HomePage</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
