.right-align {
    text-align: right !important;
}

.popup {
    max-width: 800px;
    max-height: 800px;
}

    .popup .modal-dialog {
        margin: 0px;
        padding: 0px;
        width: 100%;
        max-width: 100%;
        display: block;
    }

    .popup .modal-content {
        margin: 0px;
        padding: 0px;
        border: none;
        box-shadow: none;
    }

.green {
    color: #28a745;
    font-weight: 700;
}

.red {
    color: #dc3545;
    text-indent: 1px;
}

.fancyboxwidth {
    max-width: 800px;
    min-height: 600px;
}

.addpadd {
    padding: 7px 0px;
}

.pace .pace-progress {
    background: #5cb85c !important;
    height: 5px !important;
}

.contentTable {
    max-width: 80%;
}

    .contentTable tr td {
        padding: 5px 0px;
    }

.disabled{
    pointer-events:none !important;
}
