


<div class="footer">
    <div class="safeArea">
        <div class="bottomFooter">
            <div class="cpHolder">@DateTime.Now.Year © @Resources.Website.alrightreserved </div>
            <div class="designedholder">@Html.Raw(Resources.Website.Designedanddevelopedby) </div>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>
