@{
    ViewBag.Title = "Home Page";
}

<div class="lookingFor">
    <div class="mainSearch">
        <div class="searchTitle">What are you looking for</div>
        <div class="searchInputs">
            <div class="inputEntity selectHolder">
                <select>
                    <option>Enter Type</option>
                    <option>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                </select>
            </div>
            <div class="inputEntity selectHolder">
                <select>
                    <option>Choose Country </option>
                    <option>Country 1</option>
                    <option>Country 2</option>
                    <option>Country 3</option>
                </select>
            </div>
            <div class="searchAction">
                <input type="submit" value="Find a property" />
            </div>
        </div>
    </div>
</div>

<div class="aboutBlock">
    <div class="safeArea">
        <h2 class="sectionTitle">Our projects</h2>

        <div class="tabsMain">
            <div class="tabsLinks">
                <a href="javascript:;" class="listView">list view</a>
                <a href="javascript:;" class="mapView">map view</a>
            </div>
            <div class="tabsHolder">
                <div class="tab">
                    <div class="projectsList">
                        <ul>
                            <li class="projectItem aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
                                <div class="imgHolder"><img src="images/project1.jpg" alt="" /></div>
                                <div class="projectStatus"><span>Delivered</span></div>
                                <div class="projectCountry"><span class="flag"><img src="images/Georgia.svg" alt="" /></span> GEORGIA</div>
                                <div class="projectDetails">
                                    <div class="projectNumber">01</div>
                                    <div class="projectTitle">A+ Building</div>
                                    <div class="projectInfo">
                                        <ul>
                                            <li class="floors"><span>31</span> Floors</li>
                                            <li class="units"><span>200</span> Units</li>
                                        </ul>
                                    </div>
                                    <div class="moreBtn"><a href="javascript:;">DISCOVER MORE</a></div>

                                </div>
                            </li>
                            <li class="projectItem aos-init aos-animate" data-aos="fade-down" data-aos-easing="ease" data-aos-delay="300">
                                <div class="imgHolder"><img src="images/project2.jpg" alt="" /></div>
                                <div class="projectStatus"><span>Delivered</span></div>
                                <div class="projectCountry"><span class="flag"><img src="images/Georgia.svg" alt="" /></span> GEORGIA</div>
                                <div class="projectDetails">
                                    <div class="projectNumber">02</div>
                                    <div class="projectTitle">Talia Building</div>
                                    <div class="projectInfo">
                                        <ul>
                                            <li class="floors"><span>31</span> Floors</li>
                                            <li class="units"><span>200</span> Units</li>
                                        </ul>
                                    </div>
                                    <div class="moreBtn"><a href="javascript:;">DISCOVER MORE</a></div>
                                </div>
                            </li>
                            <li class="projectItem aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
                                <div class="imgHolder"><img src="images/project3.jpg" alt="" /></div>
                                <div class="projectStatus"><span>Delivered</span></div>
                                <div class="projectCountry"><span class="flag"><img src="images/Georgia.svg" alt="" /></span> GEORGIA</div>
                                <div class="projectDetails">
                                    <div class="projectNumber">03</div>
                                    <div class="projectTitle">Lisi Building</div>
                                    <div class="projectInfo">
                                        <ul>
                                            <li class="floors"><span>31</span> Floors</li>
                                            <li class="units"><span>200</span> Units</li>
                                        </ul>
                                    </div>
                                    <div class="moreBtn"><a href="javascript:;">DISCOVER MORE</a></div>
                                </div>
                            </li>
                            <li class="projectItem aos-init aos-animate" data-aos="fade-down" data-aos-easing="ease" data-aos-delay="300">
                                <div class="imgHolder"><img src="images/project4.jpg" alt="" /></div>
                                <div class="projectStatus"><span>Delivered</span></div>
                                <div class="projectCountry"><span class="flag"><img src="images/Greece.svg" alt="" /></span> Greece</div>
                                <div class="projectDetails">
                                    <div class="projectNumber">04</div>
                                    <div class="projectTitle">Building Name</div>
                                    <div class="projectInfo">
                                        <ul>
                                            <li class="floors"><span>31</span> Floors</li>
                                            <li class="units"><span>200</span> Units</li>
                                        </ul>
                                    </div>
                                    <div class="moreBtn"><a href="javascript:;">DISCOVER MORE</a></div>

                                </div>
                            </li>
                            <li class="projectItem aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
                                <div class="imgHolder"><img src="images/project2.jpg" alt="" /></div>
                                <div class="projectStatus"><span>Delivered</span></div>
                                <div class="projectCountry"><span class="flag"><img src="images/ARMENIA.svg" alt="" /></span> ARMENIA</div>
                                <div class="projectDetails">
                                    <div class="projectNumber">05</div>
                                    <div class="projectTitle">Building Name Goes Here</div>
                                    <div class="projectInfo">
                                        <ul>
                                            <li class="floors"><span>31</span> Floors</li>
                                            <li class="units"><span>200</span> Units</li>
                                        </ul>
                                    </div>
                                    <div class="moreBtn"><a href="javascript:;">DISCOVER MORE</a></div>
                                </div>
                            </li>
                        </ul>
                        <div class="clearBoth"></div>
                    </div>
                </div>
                <div class="tab">
                    <div class="mapHolder">
                        <img src="images/map-image.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

<div class="backgroundBlock">
    <div class="safeArea">
        <div class="blackHolder">
            <h2 class="sectionTitle whiteTitle">Are you looking for turnkey projects?</h2>
            <div class="normalText whiteText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </div>
            <div class="moreBtn">
                <a href="javascript:;">INQUIRE</a>
                <a href="javascript:;">REQUEST A CALL BACK</a>
            </div>
        </div>
    </div>
</div>

<div class="latestOffers">
    <div class="safeArea">
        <h2 class="sectionTitle whiteTitle centeredTitle">Latest offers</h2>
        <div class="offersList">
            <ul>
                <li>
                    <div class="offerItem">
                        <div class="offerHighlight"><div class="pinkHighlight"><span>20%</span> discount</div></div>
                        <div class="imgHolder"><img src="images/offer1.jpg" alt="" /></div>
                        <div class="offerDetails">
                            <div class="offerCountry"><span><img src="images/greece.svg" alt="" /></span>Greece</div>
                            <div class="offerTitle">Get a 20% discount if you are from the first 10 People to buy in the “Talia Building”</div>
                            <div class="pinkBtn"><a href="javascript:;">VIEW APARTMENTS</a></div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="offerItem">
                        <div class="offerHighlight"><div class="pinkHighlight"><span>Hot</span> deal</div></div>
                        <div class="imgHolder"><img src="images/offer2.jpg" alt="" /></div>
                        <div class="offerDetails">
                            <div class="offerCountry"><span><img src="images/armenia.svg" alt="" /></span>ARMENIA</div>
                            <div class="offerTitle">Buy Duplexes in the “A+ Building” and get an instant 10,000 GEL Cashback</div>
                            <div class="pinkBtn"><a href="javascript:;">VIEW APARTMENTS</a></div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="offerItem">
                        <div class="offerHighlight"><div class="pinkHighlight"><span>10%</span> discount</div></div>
                        <div class="imgHolder"><img src="images/offer3.jpg" alt="" /></div>
                        <div class="offerDetails">
                            <div class="offerCountry"><span><img src="images/GEORGIA.svg" alt="" /></span>GEORGIA</div>
                            <div class="offerTitle">Get a 10% discount on all 1st floor apartments in the “Lizi Building”</div>
                            <div class="pinkBtn"><a href="javascript:;">VIEW APARTMENTS</a></div>
                        </div>
                    </div>

                </li>
            </ul>
            <div class="clearBoth"></div>
        </div>

        <div class="pinkBox">
            <h2 class="sectionTitle whiteTitle">Build your career</h2>
            <h4 class="whiteTitle">Do you like to join us?</h4>
            <div class="normalText whiteText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqut enim ad minim
            </div>
            <div class="moreBtn">
                <a href="javascript:;">APPLY FOR A JOB</a>
            </div>
        </div>

    </div>
</div>
